@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;

    --cordark: hsl(158,36%,37%);
    --corcream: hsl(30,38%,92%);
    --corverydarkblue: hsl(212,21%,14%);
    --corgrayish: hsl(228,12%,48%);
    --corwhite: hsl(0,0%,100%);

}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: var(--corcream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    display: block;
    width: 300px;
    justify-content: right;
    border-radius: 15px;
    background-color: var(--corwhite);
    margin: auto;
    margin-top: 10vh;
}

picture{
    /* align-self: center; */
    justify-content: left;
    width: 300px;
}

aside{
    width: 350px;
    margin: auto;
    display: block;
}

h2{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 500;
    color: var(--corgrayish);
    padding: 20px;
}

h1{
    font-family: var(--font2);
    font-size: 30px;
    padding: 0px 20px 20px 20px;
}

h2.preco{
    font-family: var(--font2);
    color: var(--cordark);
    font-size: 30px;
    padding: 10px;

    /* border:  2px solid black; */
    display: inline-block;
}

p{
    font-family: var(--font1);
    font-size: 14px;
    line-height: 25px;
    color: var(--corgrayish);
    padding: 0px 20px;
}

p.valor{
    display: inline-block;
    font-size: 12px;
    padding-left: 0px;
    border:  2px solid black;
    vertical-align: middle;
}

button{
    display: block;
    width: 300px;
    height: 30px;
    margin: auto;
    border-radius: 5px;
    border: none;
    background-color: var(--cordark);
    color: var(--corwhite);
    padding: 10px;
    
}

.attribution { 
    padding: 20px;
    font-size: 12px; 
    text-align: center; 
}
    
.attribution a {
    color: var(--corgrayish);
     text-decoration: none;
     font-weight: bold;
}

.attribution a:hover{
    text-decoration: underline;
    color: hsl(228, 45%, 44%);
}
