@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;

    --cordark: hsl(158,36%,37%);
    --corcream: hsl(30,38%,92%);
    --corverydarkblue: hsl(212,21%,14%);
    --corgrayish: hsl(228,12%,48%);

}

*{
    padding: 0px;
    margin: 0px;
}

main{
    width: 330px;
    padding: 10px;
}

h2{
    font-family: var(--font1);
    font-size: 15px;
    font-weight: 500;
    color: var(--corgrayish);
    padding: 10px;
}

h1{
    font-family: var(--font2);
    font-size: 30px;
    padding: 10px;
}

h2.preco{
    font-family: var(--font2);
    color: var(--cordark);
    font-size: 30px;

    border:  2px solid black;
    display: inline;
}

p{
    font-family: var(--font1);
    font-size: 14px;
    color: var(--corgrayish);
    padding: 10px;
}

p.valor{
    display: inline-block;
    border:  2px solid black;
}

button{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--cordark);
    color: white;
    padding: 10px;
    
}

.attribution { font-size: 11px; text-align: center; }
    
.attribution a { color: hsl(228, 45%, 44%); }
